<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test</ion-title>
    </ion-toolbar>
  </ion-header>



    <ion-item>
      <ion-label>Enter complete url</ion-label>
      <ion-input type="text" [(ngModel)]="url"></ion-input>
    </ion-item>

    <ion-item>

      <ion-label>{{file}}</ion-label>
  
      <ion-button (click)="upload()">Upload</ion-button>
    </ion-item>

    <ion-button expand="block" (click)="submit()">Submit</ion-button>
 
  
</ion-content>
